<% include header %>
    <div class="row">
      <div class="afficheur col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12  col-xs-12 " id="ongletdonneesDepenses" style="margin-top:4vh;">

              <table border="1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-condensed table-responsive">
                <tr>
                  <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">D</td>

                  <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Id</td>
                  <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Categories</td>
                  <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Date</td>
                  <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Montant</td>
                  <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Utilisateur</td>
                </tr>


              <% for (depense of listDepense){%>
                <tr>
                  <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><a href="/depenseAll/delete/<%=depense.id%>">Suppr</a></td>

                  <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=depense.id%></td>
                  <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=depense.categories%></td>
                  <%
                    var d = new Date(depense.date_depense)
                    var tmpDate = d.getDay()+'/' +(d.getMonth()+1)+'/'+d.getFullYear()
                  %>
                  <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=tmpDate%></td>
                  <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=depense.montant%></td>
                  <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=depense.nom%> <%=depense.prenom%></td>

                </tr>

              <%
              }
              %>
            </table>

            </div>



      </div> <!-- fin div Afficheur-->

		</div> <!-- fin row-->

  </div> <!-- fin grand container fluid-->

	<% include footer %>
