<% include header %>
    <div class="row">

      <div id="afficheur" class="col-lg-12">

        <!-- DEBUT Section AJOUT REVENUS  -->

        <section class="col-lg-5" id="ongletRevenu">

          <div class="container-fluid">

            <form name="myFormRevenus" class="col-lg-12" action="/revenu" method="post">
             <!-- <fieldset class="form-controll"> -->
               <legend>Ajouter votre revenu</legend>



               <div class="col-lg-12"> <!-- Date input -->
                 <label for="categories">Catégorie</label></br>
                 <!-- select mila asiana col lg fa tsy form controll vao mety mitovy L et l @ champs hafa -->
                 <select name="categories" id="typeRevenu" class="form-control">
                    <option value="Salaire">Salaire</option>
                    <option value="RevenuImmo">Revenu Immobilier</option>
                    <option value="RevenuInvest">Revenu Investissement (Placement, action, etc.)</option>
                    <option value="Indemnite">Indemnité diverse</option>
                    <option value="allocation">Allocations diverses</option>
                    <option value="pension">Revenus Pensions (retraite, alimentaires, invalidité)</option>
                    <option value="Autre">Autres </option>
                 </select>
              </div>

             <div> <!-- Date input -->
               <label for="date">Date</label>

              <input class="form-control" id="dateRevenu" name="date" placeholder="YYYY/MM/DD" type="text"/>
            </div>
             <!--  datepicker ==>https://formden.com/blog/date-picker-->

              <p>
               <label class="control-label" for="montant">Montant</label>
               <input type="number" name="montant" value="" class="form-control" min="1" placeholder="montant">
             </p>
             <input type="submit" value="ajouter revenu" class="form-control" style="background-color:#5900b3;color:white">
           <!-- </fieldset> -->
           </form>
          </div>

        </section>
        <!-- FIN Section AJOUT REVENU  -->

        <div  class="col-lg-7" id="ongletdonneesRevenus" style="border: 1vh solid #5900b3;margin-top:4vh;">

          <table border="1" class="table table-stripted">
            <tr>
                <td>D</td>
                <!--<td>E</td>-->
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">ID</td>
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Categories</td>
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Date</td>
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Montant</td>
            </tr>


          <% for (revenu of listRevenu){%>
            <tr>
              <td class="col-lg-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><a href="/revenu/delete/<%=revenu.id%>">Supprimer</a></td>
              <!--<td class="col-lg-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><a href="/revenu/edit/<%=revenu.id%>">Modifier</a></td>-->
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=revenu.id%></td>
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=revenu.categories%></td>
              <%
                var d = new Date(revenu.date)
                var tmpDate = d.getDay()+'/' +(d.getMonth()+1)+'/'+d.getFullYear()
              %>
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=tmpDate%></td>
              <td class="col-lg-4" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=revenu.montant%></td>

            </tr>

          <%
          }
          %>
        </table>

        </div>


      </div> <!-- fin div Afficheur-->

     </div>

		</div>

		<% include footer %>
