<% include header %>
    <div class="row">

      <div class="afficheur col-lg-12 container">

        <!-- DEBUT Section AJOUT REVENUS  -->

        <section class="col-lg-5" id="ongletRevenu" style="padding-bottom: 2vh">

          <form name="myFormRevenus" class="col-lg-12" action="/revenu" method="post">
           <!-- <fieldset class="form-controll"> -->
             <legend>Ajouter votre revenu</legend>




               <label for="categories" class="col-lg-12">Catégorie</label></br>
               <!-- select mila asiana col lg fa tsy form controll vao mety mitovy L et l @ champs hafa -->
               <select name="categories" id="typeRevenu" class="selectpicker form-control">
                  <option value="Salaire">Salaire</option>
                  <option value="RevenuImmo">Revenu Immobilier</option>
                  <option value="RevenuInvest">Revenu Investissement (Placement, action, etc.)</option>
                  <option value="Indemnite">Indemnité diverse</option>
                  <option value="allocation">Allocations diverses</option>
                  <option value="pension">Revenus Pensions (retraite, alimentaires, invalidité)</option>
                  <option value="Autre">Autres </option>
               </select>


           <div> <!-- Date input -->
             <label for="date">Date</label>

            <input class="form-control" id="dateRevenu" name="date" placeholder="AAAA/MM/JJ" type="text"/>
          </div>
           <!--  datepicker ==>https://formden.com/blog/date-picker-->

            <p>
             <label class="control-label" for="montant">Montant</label>
             <input type="number" name="montant" value="" class="form-control" min="1" placeholder="montant">
           </p>
           <input type="submit" value="ajouter revenu" class="form-control" style="background-color:#5900b3;color:white">
         <!-- </fieldset> -->
         </form>

        </section>
        <!-- FIN Section AJOUT REVENU  -->

        <!-- <div  class="col-lg-7" id="ongletdonneesRevenus" style="border: 1vh solid #5900b3;margin-top:4vh;"> -->

          <table  id="tableRevenu" class="col-lg-7 col-md-12 col-sm-12 col-xs-12 table-hover " style="border: 1vh solid #5900b3;margin-top:4vh;">
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Suppr</td>
                <!--<td>E</td>-->
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">ID</td>
              <td style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Categories</td>
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Date</td>
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;">Montant</td>
            </tr>


          <% for (revenu of listRevenu){%>
            <tr>
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><a href="/revenu/delete/<%=revenu.id%>"><span class="input-group-addon" style="height:3vh; background-color:#9494b8"><i class="glyphicon glyphicon-trash"></i></span></a></td>
              <!--<td class="col-lg-1" style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><a href="/revenu/edit/<%=revenu.id%>">Modifier</a></td>-->
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=revenu.id%></td>
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=revenu.categories%></td>
              <%
                var d = new Date(revenu.date)
                var tmpDate = d.getDay()+'/' +(d.getMonth()+1)+'/'+d.getFullYear()
              %>
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=tmpDate%></td>
              <td  style="height:5vh; border: 0.5vh solid #5900b3;margin-top:2vh;"><%=revenu.montant%></td>

            </tr>

          <%
          }
          %>
        </table>

        <!-- </div> -->


      </div> <!-- fin div Afficheur-->

     </div>
<!--
		</div> -->

		<% include footer %>
